<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) 2016 TechDivision GmbH
 * All rights reserved
 *
 * This product includes proprietary software developed at TechDivision GmbH, Germany
 * For more information see http://www.techdivision.com/
 *
 * To obtain a valid license for using this software please contact us at
 * license@techdivision.com
 */

/**
 * @category   Magenerds
 * @package    Magenerds_GermanLaw
 * @author     Bernhard Wick <b.wick@techdivision.com>
 * @copyright  Copyright (c) 2016 TechDivision GmbH (http://www.techdivision.com)
 * @link       http://www.techdivision.com/
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
>
    <testsuite name="Unit Tests">
        <directory suffix="Test.php">tests/unit/</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
